p {
  font-family: "Consolas", monospace;
  font-size: 14px;
  margin: 0.2em;
  color: #000000;
  white-space: pre;
}

.key { /* Keyword */
  color: #AA0D91;
}

.class { /* Project Class */
  color: #3F6E74;
}

.str { /* String */
  color: #C41A16;
}

.other { /* Other Class */
  color: #5C2699;
}

a {
  color: #C5C8C6;
  text-decoration: none;
}

body {
  background-color: #1D1F21;
}
