p {
	font-family: 'Anonymous Pro', 'Consolas', monospace;
	font-size: 16px;
	margin: 0.2em;
	color: #000000;
	white-space: pre;
	font-weight: bold;
}

div {
    margin-left: 10px;
    margin-top: 20px;
}

div.selectable {
	display: inline-block;
	margin: initial;
}

.selectable:hover, .selectable.hover_effect {
	background-color: #A4CDFF;
	border-radius: 4px;
}

.hover {
	-webkit-user-select: none;
	-webkit-touch-callout: none;        
}

.key { /* Keyword */
	color: #AA0D91;
}

.class { /* Project Class */
	color: #3F6E74;
}

.str { /* String */
	color: #C41A16;
}

.other { /* Other Class */
	color: #5C2699;
}

.ometh { /* Other Method */
	color: #2E0D6E;
}

.comment {
	color: #007400;
}

#nil {
	font-size: 28px;
	font-size: 2vw;
	font-weight: bold;
	position: absolute;
	top: 40%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
}

#return {
	position: absolute;
	left: 50%;
	bottom: 10%;
	transform: translateX(-50%);
}

#return p {
	font-size: 16px;
	font-size: 1.3vw;
}

#updated #updated:hover{
	position: fixed;
	right: 10px;
	bottom: 10px;
	color: LightGray;
	cursor: default;
	
	/* Make text unselectable */
	-webkit-user-select: none; /* Chrome/Safari */        
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+ */

	/* future */
	-o-user-select: none;
	user-select: none;
}

a {
  color: #000000;
  text-decoration: none;
}

body {
  background-color: #FFFFFF;
}