---
title: About
layout: default
permalink: /about
---
<div>
{% assign showDegrees = (site.data.about.degrees.size > 0) %}
{% assign showAwards = (site.data.about.awards.size > 0) %}
{% assign showLikes = (site.data.about.likes.size > 0) %} 
{% assign showSkills = (site.data.about.skills.size > 0) %} 
{% assign showResume = (site.data.about.resume.size > 0) %} 
	<p><span class="key">struct</span> About {</p>
	<p>{{ site.tab }}<a href="{{ site.url }}" class="selectable"><span class="key">var</span> me: <span class="other">String</span>?</a></p>
	{% if showDegrees %}<p>{{ site.tab }}<span class="key">var</span> degrees: [<span class="other">String</span>: <span class="other">String</span>]?</p>{% endif %}
	{% if showAwards %}<p>{{ site.tab }}<span class="key">var</span> awards: [<span class="other">String</span>: <span class="other">String</span>]?</p>{% endif %}
	{% if showLikes %}<p>{{ site.tab }}<span class="key">var</span> likes: [<span class="other">String</span>]?</p>{% endif %}
	{% if showSkills %}<p>{{ site.tab }}<span class="key">var</span> skills: [<span class="other">String</span>]?</p>{% endif %}
	{% if showResume %}<p>{{ site.tab }}<span class="key">var</span> resume: <span class="other">Data</span>?</p>{% endif %}
	<p>}</p>
	<br>
{% if showDegrees %}
	<p><span class="class">justin</span>.<span class="class">about</span>.<span class="class">degrees</span> = [{% for degree in site.data.about.degrees %}{% if forloop.first == false %}<p>                        {% endif %}<span class="str">"{{ degree.from }}"</span>: <span class="str">"{{ degree.info }}"</span>{% if forloop.last == false %},{% else %}]{% endif %}</p>{% endfor %}
	<br>{% endif %}
{% if showAwards %}
	<p><span class="class">justin</span>.<span class="class">about</span>.<span class="class">awards</span> = [{% for award in site.data.about.awards %}{% if forloop.first == false %}<p>                       {% endif %}<span class="str">"{{ award.event }}"</span>: <span class="str">"{{ award.name }}"</span>{% if forloop.last == false %},{% else %}]{% endif %}</p>{% endfor %}
	<br>{% endif %}
{% if showLikes  %}
	<p><span class="class">justin</span>.<span class="class">about</span>.<span class="class">likes</span> = [{% for like in site.data.about.likes %}{% if forloop.first == false %}<p>                      {% endif %}<span class="str">"{{ like }}"</span>{% if forloop.last == false %},{% else %}]{% endif %}</p>{% endfor %}
	<br>{% endif %}
{% if showSkills %}
	<p><span class="class">justin</span>.<span class="class">about</span>.<span class="class">skills</span> = [{% for skill in site.data.about.skills %}{% if forloop.first == false %}<p>                       {% endif %}<span class="str">"{{ skill }}"</span>{% if forloop.last == false %},{% else %}]{% endif %}</p>{% endfor %}
	<br>{% endif %}
{% if showResume %}
	<p><a href="{% if site.data.about.resume.local == true %}{{ resume.url || relative_url }}{% else %}{{ site.data.about.resume.url }}{% endif %}" class="selectable"><span class="class">justin</span>.<span class="class">about</span>.<span class="class">resume</span> = <span class="other">FileManager</span>.<span class="key">default</span>.<span class="ometh">contents</span>(atPath: <span class="str">"resume.pdf"</span>)</a></p>{% endif %}
	<br>
	<p><a href="{{ site.url }}" class="selectable"><span class="class">Website</span>.<span class="class">home</span>!.<span class="class">about</span> = <span class="class">justin</span>.<span class="class">about</span></a></p>
</div>
