---
layout: default
permalink: /:title
---
<div>
	<p><span class="key">struct</span> Project {</p>
	<p>{{ site.tab }}<span class="key">var</span> info = [<span class="other">String</span>:<span class="key">Any</span>]()</p>
	<p>{{ site.tab }}<a href="{{ relative_url }}"><span class="key">var</span> owner = <span class="class">justin</span></a></p>
	<p>{{ site.tab }}<span class="key">init</span>(<span class="key">_</span> name: <span class="other">String</span>) {</p>
	<p>{{ site.tab }}{{ site.tab }}<span class="class">info</span>[<span class="str">"name"</span>] = name</p>
	<p>{{ site.tab }}}</p>
	<p>}</p>
	<br>
	<p><span class="key">var</span> thisProject = <span class="class">Project</span>(<span class="str">"{{ page.title }}"</span>)</p>
	<p><span class="class">thisProject</span>.<span class="class">info</span>[<span class="str">"about"</span>] = <span class="str">"{{ page.summary }}"</span></p>
	<p><a href="{{ page.link }}"><span class="class">thisProject</span>.<span class="class">info</span>[<span class="str">"url"</span>] = <span class="str">"{{ page.link }}"</span></a></p>
	<p><span class="class">thisProject</span>.<span class="class">info</span>[<span class="str">"tags"</span>] = [{% for tag in page.categories %}<span class="str">"{{ tag }}"</span>{% if forloop.last == false %}, {% else %}]{% endif %}{% endfor %}</p>
	<br>
	<p><a href="{{ 'projects' | relative_url }}"><span class="class">Website</span>.<span class="class">projects</span>.<span class="ometh">append</span>(<span class="class">thisProject</span>)</a></p>
</div>
